/* /css/Quiz.css */

.quiz-container {
  text-align: center;
  padding: 20px;
}
.attempts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-buttons {
  margin-top: 20px;
}

.modal-button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}

.modal-button:hover {
  background-color: #45a049;
}

.CORRECT {
  background-color: #79b851;
}
.MISPLACED {
  background-color: #f3c237;
}

.INCORRECT {
  background-color: #a4aec4;
}

.hint-button {
  background-color: #ffd54f;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hint-button:hover {
  background-color: #ffca28;
}
